/* 整體 */

*
{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 微軟正黑體;
     font-family: fantasy;
}

body
{
    background-color: rgb(250,244,222); /*背景顏色*/
    font-family: Comic Sans MS;
}

/* 下拉式選單 */

.menu-bar
{
    background-color: rgb(216,226,220); /*選單顏色*/
    text-align: center;
}

.menu-bar ul    /*設計選單的形式*/
{
    display: inline-flex;
    list-style: none;
    color:rgb(0,0,0);
}

.menu-bar ul li
{
    width: 150px;
    margin: 15px;
    padding: 0px;
}

.menu-bar ul li a
{
    text-decoration: none;
    color: rgb(0,0,0); /*選單中，字的顏色*/
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}

.menu-bar ul li:hover
{
    background:rgb(94, 100, 114);
    border-radius: 3px;
}

.menu-bar ul li:hover a
{
    color:rgb(255,255,255);
}

.sub-menu-1 , .sub-menu-2
{
    display: none;
}

.sub-sub-menu-1 , .sub-sub-menu-2 , .sub-sub-menu-3
{
    display: none;
}

.menu-bar ul li:hover  .sub-menu-1
{
    display: block;
    position: absolute;
    background: rgb(94, 100, 114);
    margin-top: 5px;
}

.menu-bar ul li:hover  .sub-menu-2
{
    display: block;
    position: absolute;
    background: rgb(94, 100, 114);
    margin-top: 5px;

}

.menu-bar ul li:hover  .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover  .sub-menu-2 ul
{
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover  .sub-menu-1 ul li
{
    width: 100px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover  .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}

.menu-bar ul li:hover  .sub-menu-1 ul li a:hover
{
    color: rgb(255,255,255);
}

.menu-bar ul li:hover  .sub-menu-2 ul li
{
    width: 100px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover  .sub-menu-2 ul li:last-child
{
    border-bottom: none;
}

.menu-bar ul li:hover  .sub-menu-2 ul li a:hover
{
    color: rgb(255,255,255);

}

.fa-angle-right
{
    float: right;
}

.hover-me-1:hover .sub-sub-menu-1
{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 85px;
    background:rgb(94, 100, 114);
    z-index: 2;
}

.hover-me-2:hover .sub-sub-menu-2
{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 85px;
    background:rgb(94, 100, 114);
    z-index: 2;
}

.hover-me-3:hover .sub-sub-menu-3
{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 85px;
    background:rgb(94, 100, 114);
    z-index: 2;
}


.linking_bar
{
    background-color:rgb(94, 100, 114) ;
}


/*  最新消息  */

.news
{
    display:block;
    margin-bottom: 300px;
}

.line
{
    width: 50%;
    height: 1px;
    border-top: solid rgb(0,0,0) 1px;
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
}

.container-1
{
    max-width: 1300px;
    margin: auto;
    padding-left: 300px;
    padding-right: 300px;
    margin-top: 10px;
}

.news h1
{
    color:rgb(94, 100, 114);
    text-align: center;

}

.container-1 p
{
    color:rgb(0,0,0);
    text-align: left;
    font-size: 20px;
    padding-top: 15px;
}

.container-1 a
{
    color:rgb(0,0,0);
    text-decoration: none;
}



/*  聯絡我們  */

.footer
{
    background-color:rgb(94, 100, 114);
    font-size: 14px;
    padding: 20px 0 20px;
}

.footer h3
{
    color:rgb(255,255,255);
}

.footer p
{
    color:rgb(255,255,255);
}

.footer p a
{
    color:rgb(255,255,255);
    text-decoration-line: none;
}

.container-2
{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}




/* 每月主題css */

.month {
  font-size: 50px;
  color: rgb(94, 100, 114);
  position: relative;
  margin-top: 20px;
  margin-left: 0px;
  margin-bottom: 80px;
}

table {
  border: 1px blue solid;
  border-collapse: collapse;
  display: inline-flex;
}

tr, td {
  border-collapse: collapse;
  margin-top: 0px;
  border: 1px rgb(0, 0, 0, 0.2) solid;
  text-align: center;
  padding: 15px;
  font-size: 22px;
}


.month p {
  margin: 0px;
  text-align: center;
  position: relative;
  z-index: 1;
}


.pic {
  margin-left: 370px;
  margin-top: 50px;
  border-color: rgb(0, 0, 0, 0);

}
.pic2 {
  margin-left: 250px;
  margin-top: 50px;
  border-color: rgb(0, 0, 0, 0);

}

.pic1-1{
  margin-top: 20px;
}

a{
  font-size: 16px;
  color: rgb(0, 0, 0, 0.6);
}


.dialogue p{

  display: none;
}
.dialog ,ui-dialog-content ,ui-widget-content{
/*  border:50px rgb(255, 197, 173,0.5) solid;*/
color: rgb(0, 0, 0, 0.6);
}

/* 視窗按鈕 */
.ui-button ,ui-button-icon-primary{
  width: 80px;
  height: 30px;
  background-color: rgb(255, 216, 204,0.5);
  border-color: rgb(255, 197, 173,0.5);
  text-align: center;
  position: relative;
  top: 610px;
  left: 370px;
}
.ui-dialog-title{
  font-size: 0px;
  text-align: center;
}
