/* 整體 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 微軟正黑體;
}

body {
  background-color: rgb(250, 244, 222);
}

/* 下拉式選單 */
.menu-bar {
  background-color: rgb(216, 226, 220);
  /*選單顏色*/
  text-align: center;
}

.menu-bar ul

/*設計選單的形式*/
  {
  display: inline-flex;
  list-style: none;
  color: rgb(0, 0, 0);
}

.menu-bar ul li {
  width: 150px;
  margin: 15px;
  padding: 0px;
}

.menu-bar ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  /*選單中，字的顏色*/
  font-size: 20px;
  text-align: center;
  line-height: 50px;
}

.menu-bar ul li:hover {
  background: rgb(94, 100, 114);
  border-radius: 3px;
}

.menu-bar ul li:hover a {
  color: rgb(255, 255, 255);
}

.sub-menu-1, .sub-menu-2 {
  display: none;
}

.sub-sub-menu-1, .sub-sub-menu-2, .sub-sub-menu-3 {
  display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background: rgb(94, 100, 114);
  margin-top: 5px;
  z-index: 10;
}

.menu-bar ul li:hover .sub-menu-2 {
  display: block;
  position: absolute;
  background: rgb(94, 100, 114);
  margin-top: 5px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .sub-menu-2 ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
  width: 100px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
  border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
  color: rgb(255, 255, 255);
}

.menu-bar ul li:hover .sub-menu-2 ul li {
  width: 100px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}

.menu-bar ul li:hover .sub-menu-2 ul li:last-child {
  border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-2 ul li a:hover {
  color: rgb(255, 255, 255);
}

.fa-angle-right {
  float: right;
}

.hover-me-1:hover .sub-sub-menu-1 {
  position: absolute;
  display: block;
  margin-top: -40px;
  margin-left: 85px;
  background: rgb(94, 100, 114);
  z-index: 2;
}

.hover-me-2:hover .sub-sub-menu-2 {
  position: absolute;
  display: block;
  margin-top: -40px;
  margin-left: 85px;
  background: rgb(94, 100, 114);
  z-index: 2;
}

.hover-me-3:hover .sub-sub-menu-3 {
  position: absolute;
  display: block;
  margin-top: -40px;
  margin-left: 85px;
  background: rgb(94, 100, 114);
  z-index: 2;
}

.linking_bar {
  background-color: rgb(94, 100, 114);
}

/* 每月主題css */
.month {
  font-size: 50px;
  color: rgb(94, 100, 114);
  position: relative;
  margin-top: 20px;
  margin-left: 0px;
  margin-bottom: 80px;
}

table {
  border: 1px blue solid;
  border-collapse: collapse;
  display: inline-flex;
}

tr, td {
  border-collapse: collapse;
  margin-top: 0px;
  border: 1px rgb(0, 0, 0, 0.2) solid;
  text-align: center;
  padding: 15px;
  font-size: 22px;
}

.month p {
  margin: 0px;
  text-align: center;
  position: relative;
  z-index: -1;
  padding: 0px;
}

.pos {
  position: relative;
  margin-top: 50px;
}

.pos2 {
  display: flex;
    justify-content: center;
    align-items: center;
  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 40%;
  transform: translate(-50%, 0%);
  margin: auto; */
}

.pic {
  /* margin-left: 370px; */
  /* margin-left: auto;

  margin-top: 50px; */
  border-color: rgb(0, 0, 0, 0);
  margin-right: 80px;


}

.pic2 {
  margin-left: 50px;
  /*margin-top: 50px; */
  border-color: rgb(0, 0, 0, 0);
  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 40%;
  transform: translate(-50%, 0%);
  margin: auto; */
}

.pic1-1 {
  margin-top: 20px;
  margin-left: 225px;
}

a {
  font-size: 16px;
  color: rgb(0, 0, 0, 0.6);
}

.dialog {
  position: absolute;
  top:100px;
  left: 50%;
  margin: auto;
  transform: translate(-50%, 0%);
  /* position: fixed;
  top: 100px;
  margin: 0px;
  padding: 0px;
  left: 50%;
  right: 50%; */
  font-size: 18px;
  width: 800px;
  height: 600px;
  /* border:1px solid #888888; */
  border-color: black;
  background-color: rgba(221, 255, 225, 0.7);
  box-shadow: 0px 0px 10px;
  /* padding: 10px; */
  /* transform: translate(-100px, 0px); */
  display: none;
  z-index: 1;
}

.dialog>.close {
  position: absolute;
  top: 0px;
  right: 5px;
  z-index: 9999;
  cursor: pointer;
  /*cursor游標pointer指針:改變鼠標*/
}

.span {
  text-align: center;
  margin: 0px;
  padding: 0px;
  color: rgb(94, 100, 114);
}

.dialog h3 {
  font-size: 22px;
  text-align: center;
  color: rgb(94, 100, 114);
}

/*  聯絡我們  */
.bottom {
  background-color: rgb(94, 100, 114);
  font-size: 14px;
  padding: 20px 0 20px;
  /* 上 左右 下 */
}

.container-3 {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.footer_contact_us h3 {
  color: rgb(255, 255, 255);
}

.footer_contact_us p {
  color: rgb(255, 255, 255);
}

.footer_contact_us a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.footer_contact_us a:hover {
  color: rgb(250, 244, 222);
  text-decoration: underline;
}
