/* 整體 */

*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Microsoft JhengHei;
}

body {
    background-color: rgb(250,244,222); /*背景顏色*/
}



/* 下拉式選單 */

.menu-bar
{
    background-color: rgb(216,226,220); /*選單顏色*/
    text-align: center;
}

.menu-bar ul    /*設計選單的形式*/
{
    display: inline-flex;
    list-style: none;
    color:rgb(0,0,0);
}

.menu-bar ul li  
{
    width: 150px;
    margin: 15px;   
}

.menu-bar ul li a
{
    text-decoration: none;
    color: rgb(0,0,0); /*選單中，字的顏色*/
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}

.menu-bar ul li:hover
{
    background:rgb(94, 100, 114);
    border-radius: 3px;
}

.menu-bar ul li:hover a 
{
    color:rgb(255,255,255);
}

.sub-menu-1 , .sub-menu-2
{
    display: none;
}

.sub-sub-menu-1 , .sub-sub-menu-2 , .sub-sub-menu-3
{
    display: none;
}

.menu-bar ul li:hover  .sub-menu-1 
{
    display: block;
    position: absolute;
    background: rgb(94, 100, 114);
    z-index: 3;
}

.menu-bar ul li:hover  .sub-menu-2
{
    display: block;
    position: absolute;
    background: rgb(94, 100, 114);
    z-index: 3;
}

.menu-bar ul li:hover  .sub-menu-1 ul
{
    display: block;
    margin: 10px;  
    z-index: 3;
}

.menu-bar ul li:hover  .sub-menu-2 ul
{
    display: block;
    margin: 10px;  
    z-index: 3;
}

.menu-bar ul li:hover  .sub-menu-1 ul li
{
    width: 100px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
    z-index: 3;
}

.menu-bar ul li:hover  .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}

.menu-bar ul li:hover  .sub-menu-1 ul li a:hover
{
    color: rgb(255,255,255);
}

.menu-bar ul li:hover  .sub-menu-2 ul li
{
    width: 100px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover  .sub-menu-2 ul li:last-child
{
    border-bottom: none;
}

.menu-bar ul li:hover  .sub-menu-2 ul li a:hover
{
    color: rgb(255,255,255);
}

.fa-angle-right
{
    float: right;
}

.hover-me-1:hover .sub-sub-menu-1
{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 85px;
    background:rgb(94, 100, 114);
    z-index: 3;
}

.hover-me-2:hover .sub-sub-menu-2
{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 85px;
    background:rgb(94, 100, 114);
    z-index: 3;
}

.linking_bar
{
    background-color:rgb(94, 100, 114) ;
}



/* 商品 */

.socks_region {
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.socks {
    max-width: 350px;
    height: auto;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    padding: 5px;
    margin: 15px;
}

.socks img {
    width: 300px;
    height: 300px;
    border: solid 1px rgb(0,0,0);
    border-radius: 10px;
    margin: 10px 25px;
}

.socks h2 {
    text-align: center;
    color: rgb(94, 100, 114);
}

.socks p {
    margin: 15px;
}

.buy {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.buy button{
    background: rgb(38, 201, 163);
    padding: 10px 20px;
    border-radius: 5px;
    border-style: none;
    color: rgb(255,255,255);
    font-size: 16px;
}

.buy button:hover {
    cursor: pointer;
}

.sale_out {
    width: 50%;
    font-size: 20px;
    text-align: center;
    background: rgb(255,0,0) ;
    border-radius: 5px;
    padding: 10px 20px;
    color: rgb(255,255,255);
}





/* 了解更多 */

.more_information {
    width: 90%;
    height: auto;
    margin: 0px auto;
    text-align: right;
}

.more_information a {
    color: rgb(0,0,0);
    text-decoration: none;
}

.more_information a:hover {
    color: rgb(192,192,192);
}




/*  聯絡我們  */

.bottom
{
    background-color:rgb(94, 100, 114);
    font-size: 14px;
    padding: 20px 0 20px;   /* 上 左右 下 */
}

.container-3
{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.footer_contact_us h3
{
    color:rgb(255,255,255);
}

.footer_contact_us p
{
    color:rgb(255,255,255);
}

.footer_contact_us a
{
    color:rgb(255,255,255);
    text-decoration: none;
}

.footer_contact_us a:hover
{
    color: rgb(250,244,222);
    text-decoration: underline;
}